body {
  background-color: #f8fbfc;
}
body .hero-single {
  max-width: 100vw;
  height: 300px;
  background-repeat: no-repeat;
}
body .hero-single.elaphiti {
  background-image: url(images/Elafiti-nove/naslovna2.jpg);
  background-size: cover;
  background-position: 70% 90%;
}
body .hero-single.dubrovnik {
  background-image: url(images/Dubrovnik-nove/naslovna.png);
  background-position: 65% 50%;
  background-size: cover;
}
body .big-map {
  min-width: 99vw;
  max-width: 100vw;
  display: none;
}
body .small-map .map {
  display: block;
}
body .wrapper {
  width: 100%;
  padding: 0 5%;
}
body .wrapper h1 {
  font-family: Signika;
  text-transform: uppercase;
  font-size: 25px;
  background-color: #f8fbfc;
  margin-top: -60px;
  padding: 20px 40px;
  border-radius: 10px;
  color: #1f1e1e;
}
body .wrapper h1.elaphiti {
  width: 320px;
}
body .wrapper h1.dubrovnik {
  width: 320px;
}
body .wrapper .line::before {
  content: "slano";
  padding-right: 80px;
  font-size: 2.5px;
  color: #68686a;
  background-color: #68686a;
}
body .wrapper .flex {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
body .wrapper .flex h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  color: #313131;
}
body .wrapper .flex .img-container img {
  width: 100%;
  margin-top: 50px;
}
body .wrapper .flex .description {
  width: 100%;
}
body .wrapper .flex .description p:first-of-type {
  padding-top: 30px;
}
body .wrapper .flex .description p {
  padding-top: 10px;
  color: #313131;
  font-size: 19px;
  font-family: Roboto;
}
body .wrapper .flex .description p a {
  color: #1e70a3;
  text-decoration: none;
}
body .wrapper .flex .info {
  width: 100%;
  margin-top: 40px;
  line-height: 2;
  font-family: "Oswald", sans-serif;
  color: #313131;
}
body .wrapper .flex .info p {
  font-size: 22px;
}
body .wrapper .flex .info span {
  font-size: 20px;
  display: block;
}
body .wrapper .flex .info .contact i {
  margin-right: 5px;
}
body .map {
  max-width: 100%;
  margin-top: 90px;
  min-width: 100%;
}
body .gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
}
body .gallery div {
  display: flex;
  flex-wrap: wrap;
  margin: 70px auto;
  justify-content: center;
  width: 100%;
}
body .gallery .image-link {
  overflow: hidden;
}
body .gallery .image-link .image {
  width: 180px;
  height: 130px;
  padding: 5px;
  transition: 0.5s all;
}
body .gallery .image-link .image:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  body .hero-single {
    height: 500px;
  }
  body .hero-single.dubrovnik {
    background-position: none;
  }
  body .big-map {
    display: block;
  }
  body .small-map .map {
    display: none;
  }
  body .wrapper {
    width: 80%;
    margin: 0 auto;
  }
  body .wrapper h1 {
    font-size: 40px;
    margin-top: -70px;
  }
  body .wrapper h1.elaphiti {
    width: 600px;
  }
  body .wrapper h1.dubrovnik {
    width: 480px;
  }
  body .wrapper .flex {
    flex-direction: row;
    margin-top: 70px;
  }
  body .wrapper .flex .content-container {
    width: 65%;
  }
  body .wrapper .flex .content-container .description {
    padding-left: 40px;
    width: 90%;
  }
  body .wrapper .flex .content-container .description p:first-of-type {
    padding-top: 30px;
  }
  body .wrapper .img-container {
    width: 35%;
  }
  body .wrapper .img-container img {
    width: 100%;
  }
  body .wrapper .info {
    margin-top: 50px;
    margin-left: 40px;
  }

  .gallery {
    width: 80% !important;
    margin: 70px auto;
  }
  .gallery .image-link .image {
    width: 260px !important;
    height: 200px !important;
    padding: 8px !important;
  }
  .gallery .image-link .map {
    max-width: 100vw;
    min-width: 99vw;
    margin-top: 90px;
  }
}

/*# sourceMappingURL=SinglePage.css.map */
